# Compiled files
out/
*.class

# IDE
.idea/
*.iml
.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log
